{% extends 'mainpage.html' %}
{% block content %}
{% endblock %}
{% if user.is_authenticated %}
{% block sidebar %}

<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
<p class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white">
    Here you can:
</p>
    <ol class="nav nav-pills flex-column mb-auto">
        <li class="nav-item"><a href="{% url 'add-ingredient' %}">Add ingredient</a></li>
        <li class="nav-item"><a href="{% url 'add-meal' %}">Add meal</a></li>
        <li class="nav-item"><a href="{% url 'add-activity' %}">Add activity</a></li>
        <li class="nav-item"><a href="{% url 'add-day' %}">Add day</a></li>
        <li class="nav-item"><a href="{% url 'create-plan' %}">Add plan</a></li>
        <li class="nav-item"><a href="{% url 'plan-list' %}">Show plans</a></li>

        <li class="nav-item"><a href="{% url 'ingredients'  %}">See all ingredients</a></li>
        <li class="nav-item"><a href="{% url 'activities'  %}">See all activities</a></li>
    </ol>
</div>
{% endblock %}
{% endif %}