{% extends 'mainpage.html' %}
{% block content %}
    <div>
        <p><h2>Chosen plan: {{ profile.plan }}</h2></p>
    </div>
    <div>
    <p>History</p>
    <table class="table">
    <th class="table-bordered">
        <td>Date</td>
        <td>Your weight:</td>
        <td>Meals:</td>
        <td>Activity:</td>
        <td>Total kcal:</td>
        <td></td>
        <td></td>
    </th>
        {% for day in days %}
    <tr>
    <td>{{ forloop.counter }}</td>
        <td><a href="{% url 'day-info' day.pk %}">{{ day.date }}</a></td>
    <td>{{ day.day_weight }}</td>
    <td>
        <ul>
            {% for meal in day.meals.all %}
                <li>{{ meal }}</li>
                {% endfor %}
        </ul>
    </td>
    <td><ul>
        {% for activity in day.activity.all %}
            <li><a href="{% url 'activity-time' activity.id day.pk %}">{{ activity.name }}</a></li>
        {% endfor %}
        </ul>
            </td>
    <td>{{ day.daily_kcal }}</td>
    <td><a href="{% url 'edit-day' day.pk %}">Edit</a></td>
    <td><a href="{% url 'delete-day' day.pk %}">Delete</a></td>
    </tr>
        {% endfor %}
    </table>

    </div>

{% endblock %}

{% block sidebar %}

<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
<p class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white">
    Here you can:
</p>
    <ol class="nav nav-pills flex-column mb-auto">
        <li class="nav-item"><a href="{% url 'add-ingredient' %}">Add ingredient</a></li>
        <li class="nav-item"><a href="{% url 'add-meal' %}">Add meal</a></li>
        <li class="nav-item"><a href="{% url 'add-activity' %}">Add activity</a></li>
        <li class="nav-item"><a href="{% url 'add-day' %}">Add day</a></li>
        <li class="nav-item"><a href="{% url 'create-plan' %}">Add plan</a></li>
        <li class="nav-item"><a href="{% url 'plan-list' %}">Show plans</a></li>
        <li class="nav-item"><a href="{% url 'edit-profile' user.pk %}">Edit Profile</a></li>
        <li class="nav-item"><a href="{% url 'ingredients' %}">See all ingredients</a></li>
        <li class="nav-item"><a href="{% url 'activities'  %}">See all activities</a></li>
    </ol>
</div>
{% endblock %}

{% block greetings %}
<div class="text-center">
        <h2>Welcome on your profile page {{ user }}!</h2><br>
    </div>
{% endblock %}